:root{
    --color-yellow:#ffcc4a;
    --color-green:#4eaf4e;
    --color-dark:rgba(27,27,27,0.91);
    --color-gray:#ebebeb;
    --color-white:#fff;
    --color-black:#151515;
}
body,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"lato",sans-serif;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.heading{
    font-family: "Cabin", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
.header{
    background-color: var(--color-dark);
    padding: 40px;
}
.header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}
.header__logo{
    font-size: 30px;
    color:var(--color-white);
}
.logo{
    display: flex;
    column-gap: 11px;
}
.nav__menu{
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}
.nav__link{
    font-size: 17.728px;
    color:var(--color-white);
    
}
.header__phone{
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 42px;
    padding: 8px 41px 8px 10px;
    column-gap: 11px;
}
.hero__book-text{
    color: var(--color-dark);
}
.action-btn{
        display: inline-flex;
        align-items: center;
        background-color: var(--color-white);
        border-radius: 42px;
        padding: 8px 41px 8px 10px;
        column-gap: 11px; 
}
.hero{
    background-color: var(--color-gray);
    
}
.hero__info{
    max-width: 508px;
}
.label{
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 147%;
    border-radius: 20px;
    padding: 0px 11px;
}
.label_yellow{
    background-color: var(--color-yellow);
}
.hero__heaiding{
    font-size: 50px;
}
.hero__label{
    display: inline-block;
    margin-bottom: 19px;
}
.hero__text{
    margin-top: 20px;
    margin-bottom: 29px;
}
/* .hero__row{
    background-image: url(img/Photo.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 260px 0;
} */
/* позциионирование картикни
.hero__row{
    position: relative;
    padding: 260px 0;
}
.hero__image{
    position: absolute;
    top: 0 ;
    right: -420px;
} */
.hero__row{
    display: flex;
    gap: 89px;
}
.advantages{
    position: relative;
    top: -80px;
    left: 20px;
}
.advantages__row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.advantages-card{
    border-radius: 20px;
    padding: 48px;
    padding-top: 237px;
    width: 388px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.advantages__heading{
    font-size: 25px;
}
.advantages__text{
    margin-top: 10px;
    margin-bottom: 15px;
}
.advantages__link{
    border-radius: 55px;
    padding: 16px 31px;
    margin-top: 15px;
    display: inline-block;
    color: var(--color-black);
    font-weight: bold;
}
.advantages__card-services{
    background-image: url(img/card1.png);
}
.advantages__card-aproach{
    background-image: url(img/card2.png);
}
.advantages__card-solution{
    background-color: var(--color-dark);
}
.advantages__link--white{
    background-color: var(--color-white);
}
.advantages__link--black{
    background-color: var(--color-black);
    color: var(--color-white);
}
.advantages-card__icons{
    transform: rotate(-15deg);
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
}
.advantages-card__icons-1{
    transform: rotate(30deg) translate(-10px,-40px);
}
.advantages-card__icons-2{
    transform:rotate(15deg) translate(100px,-30px);

}
.advantages-card__icons-3{
    transform: rotate(15deg) translate(180px,-50px) scale(0.7);
   
    
}
.advantages-card__icons-4{
    transform: rotate(15deg) translate(-80px,90px);
    
}
.advantages-card__icons-5{
    transform: rotate(-10deg) translate(-60px,90px);
}
.advantages-card__icons-6{
    transform: rotate(15deg) translate(15px,90px);
}
.advantages-card__icons-7{
    transform: rotate(30deg) translate(0px,150px);
}
.advantages-card__heading{
    font-size: 150px;
    position: absolute;
    -webkit-text-stroke: 1px var(--color-black);
    color: transparent;  
}
                        /* Статистикс */
.statistics{
    padding: 133px 0px;
    background:linear-gradient(rgba(251,195,54,0.9),rgba(251,195,54,0.9)), url(img/statistics-photo.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
}
.statistics__row{
    display: flex;
}
.label_white{
    background-color: var(--color-white);
}
.statistics__info{
max-width: 375px;
}
.statistics__heading{
    font-size: 45px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.statistics__items{
    /* border: 1px solid red; */
    display: flex;
    gap: 80px;
}
/* костюмизация импутов
.statistics__range{
    appearance: none;
    background: none;
    
}
.statistics__range::-webkit-slider-runnable-track{
    background-color: green;
    border-radius: 30px;
}
.statistics__range::-webkit-slider-thumb{
    appearance: none;
    background-color: var(--color-black);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-white);

} */
.statistics__range-wraper{
    width: 186px;
    height: 186px;
    border-radius: 50%;
    
    position: relative;
}
.statistics-range-consistency{
    background-image: conic-gradient(var(--color-white)85%,rgb(218, 174, 60)0%);
}
.statistics-range-improvment{
    background-image: conic-gradient(var(--color-white)95%,rgb(218, 174, 60)0%);
}
.statistics-range-branching{
    background-image: conic-gradient(var(--color-white)90%,rgb(218, 174, 60)0%);
}
.statistics__range-wraper::after{
    content: '';
    width: 170px;
    height: 170px;
    background-color: #ffcc4a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.statistics__range-wraper::before{
    content:'';
    position: absolute;
    top: 27px;
    left: 0;
    background-color: #151515;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid white;
    box-sizing: border-box;
    z-index: 1;
}
.statistics-range-consistency::before{
    top: 30px;
}
.statistics-range-improvment::before{
    top: -8px;
    left: 50px;
}
.statistics-range-branching::before{
    top: 10px;
    left: 17px;
}
.statistics__procent{
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.statistics__label{
    display: inline-block;
    padding: 40px;
    margin-top: 30px;
}
.latest{
    border: 1px solid red;
    width: 1920px;
    height: 2000px;
    background: linear-gradient(rgba(24, 24, 24, 0.95),rgba(24, 24, 24, 0.95)),url(img/Photo-latest.png);
    /* background-image: url(img/Photo-latest.png); */
    background-repeat: no-repeat;
    background-position: 50% 20%; 
    width: 100%;
}
.latest__buton{
    border-radius: 20px;
    background-color: #4eaf4e;
    width: 91px;
    height: 24px;
    color: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.latest__project{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.latest__nav{
    width: 324px;
    height: 84px;
}
.latest__heading{
    color: var(--color-white);
}
.latest__link{
    background-color: #ffcc4a;
    border-radius: 20px;
    width: 169px;
    height: 62px;
    color: var(--color-black);
    display: inline-block;
    text-align: center;
    line-height: 3.5;
}
.latest__row{
    width: 1201px;
    height: 1800px;
}
.latest__card{
    margin: auto 0;
    border: 4px solid green;
    max-width: 1200px;
    max-height: 1500px;
    display: flex;
   justify-content: space-around;
   gap: 16px;
   flex-wrap: wrap;
   overflow: hidden;
   position: relative;
}
.item-1{
    width: 366px;
    height: 344px;
}
.item-2{
    width: 783px;
    height: 344px;
}
.item-3{
    width: 366px;
    height: 745px;
}
.item-4{
    width: 366px;
    height: 344px;
}
.item-5{
    width: 366px;
    height: 344px;
}
.item-6{
    width: 366px;
    height: 344px;
     transform: translate(300px,-350px);   }
.item-7{
    width: 366px;
    height: 344px;
    transform: translate(110px,-350px);
}
.item-1_2{
    /* border: 1px solid red; */
    position: absolute;
    top: 30px;
    left: 50px;
}
.item-1_3{
    position: absolute;
    top: 70px;
    left: 260px;
}
/* секция формы  */
.author__row{
    background-color: var(--color-green);
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.author__heading{
    color: var(--color-gray);
    font-size: 43px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.author__form{
    
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
    background-color: var(--color-black);
    border-radius: 40px;
}
.form__name{
    border-radius: 10px;
    text-align: center;
    color: var(--color-black);
    padding: 10px 0;
    margin-bottom: 5px;
}
.form__password{
    border-radius: 10px;
    text-align: center;
    color: var(--color-black);
    padding: 10px 0;
    margin-bottom: 5px;
}
.form_radio{
    color: var(--color-gray);
    display: flex;
    gap: 15px;
    position: relative;
}
.form__pol{
    color: var(--color-white);

}
.form__sumb{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}
/* Убираем для значения для инпута */
.form__sex1{
    appearance: none;
}
/* Заного рисуем элемент через бефоре для лейбла,большой кружок */
.form__sex2::before{
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 0px;
    background-color: var(--color-gray);
    border-radius: 50%;
}
/* Заного рисуем маленький в нем кружок для лейбла */
/* и скрывает его через опасити */
.form__sex2::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--color-green);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    top: 6px;
    opacity: 0;
    
    
}
/* Связываем дефолтный инпут и маленький кружок в режиме чекед и задаем зет индекс 1 */
.form__sex1:checked + .form__sex2::after{
    opacity: 1;
    z-index: 1;
}
.form__sex3{
    appearance: none;
}
.form__sex4::before{
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--color-gray);
    /* border: 5px solid red; */
    position: absolute;
    top: 5px;
    left: 95px;
    border-radius: 50%;
}
.form__sex4::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--color-green);
    position: absolute;
    top: 6px;
    left: 95px;
    border-radius: 50%;
    opacity: 0;
}
.form__sex3:checked + .form__sex4::after{
    opacity: 1;
    z-index: 1;
}